
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isAuth() {
      return request.auth != null;
    }
  
    function isUser(userId) {
      return isAuth() && request.auth.uid == userId;
    }

    match /{path=**}/players/{playerId} {
      allow read: if true;
      allow write: if isAuth();
    }

    match /players/{playerId} {
      allow read: if true;
      allow write: if isAuth();
    }

    match /users/{userId} {
      allow read, write: if isUser(userId);
    }
    
    match /matches/{matchId} {
      allow read: if true;
      allow write: if isAuth();
    }
    
    match /teams/{teamId} {
       allow read: if true;
       allow write: if isAuth();
    }
  }
}